* {
    box-sizing: border-box;
  }

  :root {
    --primary: #ededed;
    --secondary: #94aeb3;
    --tertiary: #626364;
    --grey: #333;
    font-size: 62.5%;
  }

body {
    background: var(--primary);
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    color: var(--grey);
    margin: 5px 0 20px; 
    font-size: 1.5rem;
        
}

header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 2rem;
   

}

.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
}

.answer-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #9eb1b3;   
}

.answer{
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
}

.answer:hover{
    background-color: lightgoldenrodyellow;
}